#content {
text-align: left;
}
#content li{
    list-style: none;
}
#topo img{
width: 150px;
height: 100px;
align-self: center;
display: block;
margin-left: auto;
margin-top: -110px;
font-size: larger;
}
#nome{
    margin-top: 15px;
    background-color: #6fab47
    ;
    height: 60px;
    text-align: center;
    color: #fff;
}
.qualifications{
    height: 30px;
    margin-top: 15px;
    background-color: darkgrey;
    width: 1500px;
   margin-left: auto;
margin-right: auto;

}
table{
    margin-top: 10px;
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }